html, body {
	background-color: #fafafa;
	height: 100%;
	width: 100%;
}

.langBar {
	position: absolute;
	top: 20px;
	right: 1%;
	font-size: 30px;
}

.contactRef {
	position: absolute;
	top: 20px;
	right: 10%;
	font-size: 30px;
}

.welcomeText {
	text-align: center;
	margin-top: 20px;
	font-size: 60px;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

/*BUTTONS*/
.mainBtn {
	position: absolute;
	width: 400px;
	height: 50px;
	left: 50%;
	margin-left: -200px;
	margin-top: 5px;	
}

.nextBtn1 {
	position: absolute; 
	bottom: 7px;
	width: 170px;
	height: 40px;
	right: 7px;
	
}
.backBtn1 {
	position: absolute; 
	bottom: 7px;
	width: 170px;
	height: 40px;
	left: 7px;
}

.btnIntro {
	margin-top: 30px;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
}

.mainContainer {
	position: absolute;
	top: 50%;
	margin-top: -200px;
	width: 600px;
	height: 400px;
	left: 50%;
	margin-left: -300px;
	border-radius: 10px;
	z-index: 98;
	/*border: 3px solid yellow;*/
}

.innerContainer1 {
	position: absolute;
	top: 50%;
	margin-top: -100px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	height: 200px;
	border: 0px solid gray;
	border-radius: 10px;
	z-index: 99;
	background-color: rgba(255,255,255,.8);/*#fafafa;*/
	-webkit-box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
}

.innerContainer2 {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	border-radius: 10px;
	z-index: 99;
	-webkit-box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
}
.contentDiv {
	font-size: 30px;
	text-align: center;
}

/*shadow overlay, mis tekib, kui inimene alustab küsimustele vastamist*/
#shadowBox {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 10;
}

/*------------------------VIEWS START------------------------*/
.mainView1 {
	width: 100vw;
	height: 120vh;
	/*border: 5px solid red;*/
	background-image: url("../Resources/city2.jpg");
	background-size: cover;                
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	/*taustapildi vahetamise animatsioon*/
	animation: changeBackground 50s infinite; 
}


.mainView2 {
	width: 100vw;
	height: 120vh;
	position: absolute;
	top: 120vh;
	background-color: #283593;
	
}

.mainView3 {
	width: 100vw;
	height: 120vh;
	position: absolute;
	top: 240vh;
	background-color: #f5f5f5;
	background-image: url("../Resources/city.jpg");
	background-size: cover;                
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.mainView4 {
	width: 100vw;
	height: 30vh;
	position: absolute;
	top: 360vh;
	background-color: #424242;
}
/*------------------------VIEWS END------------------------*/

.randomText {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 40%;
	color: white;
	font-size: 150px;
	font-family: "Lucida Console", Monaco, monospace;
}





/*---------------------- ANIMATSIOONID START----------------------*/

/*animatsioon, mis vahetab backgroundi iga natukese aja tagant, aegu peab muutma veel, olenevalt taustapiltide arvust*/
@keyframes changeBackground {
	0% {background-image: url("../Resources/city2.jpg");}
	20% {background-image: url("../Resources/city2.jpg");}
	25% {background-image: url("../Resources/city3.jpg");}
	45% {background-image: url("../Resources/city3.jpg");}
	50% {background-image: url("../Resources/city4.jpg");}
	70% {background-image: url("../Resources/city4.jpg");}
	75% {background-image: url("../Resources/city2.jpg");}
	100% {background-image: url("../Resources/city2.jpg");}
}

/*---------------------- ANIMATSIOONID END----------------------*/















/*PRAEGUNE BUTTON DESIGN, AJUTINE!*/
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}























