.logo {
	font-weight: 300;
	padding: 10px;
}

footer {
	
}

.thin-text {
	font-weight: 200;
	background: rgba(96, 125, 139, .4);
	padding: 40px;
	border-radius: 10px;
}

.guestFormText {
	font-size: 2em;
	font-weight: 300;
}

#guestForm {
	margin-top: 20%;
}

#formCode {
	margin-top: 5%;
	
}

.cta {
	font-weight: 200;
	font-size: 6em;
	/*text-shadow: 1px 1px black;*/
}

#iphone {
	max-width: 100%;
	height:auto;
}

.guestForm {
	width: 100%;
	height: auto;
	margin-top: 10%;
	
}

	
#newForm {
	padding-bottom: 15%;
	padding-top: 5%;
}
/*MIS JUHTUB SIIS, kui min screen width on 375px*/
@media screen and (min-width: 200px) {
    .thin-text {
		font-weight: 250;
		background: rgba(96, 125, 139, .4);
		padding: 20px;
		border-radius: 10px;
		font-size: 2em;	
	}
	.scrollDownIcon {
    content: url("../img/scroll.png");	
	width: 10%;
	height: auto;
	opacity: 0.4;
	position: absolute;
	left: 50%;
	margin-top: 15%;
	margin-left: -5%;
		
	}
	#formCode {
	margin-top: 150px;
	}	
}

@media screen and (min-width: 667px) {
	
	.scrollDownIcon {
    content: "";	
	padding-top: 0;
	width: 0;
	height: auto;
	opacity: .0;
	position: relative;
	left: 0%;
	margin-left: 0%;
}


.contentButton {
	position: absolute;
	margin-top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: transparent;
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	z-index: 1;
}
.contentButton:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #20caff;
	opacity: .7;
	z-index: -1;
	mix-blend-mode: multiply;
	transform-origin: top;
	transition: .2s;
	top: -3px;
	left: -3px;
}

.contentButton:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ff0606;
	opacity: .7;
	z-index: -1;
	mix-blend-mode: multiply;
	transform-origin: bottom;
	transition: .2s;
	bottom: -3px;
	right: -3px;
}
.contentButton:hover:before {
	top: -6px;
	left: 0;
	transform: perspective(1000px) rotateX(80deg);
}
.contentButton:hover:after {
	bottom: -6px;
	right: 0;
	transform: perspective(1000px) rotateX(-80deg);
}
.contentButton:hover{
	color: black;
}

